@import "theme.light.css";
@import "theme.dark.css";

:where(html) {
  color: var(--text-2);
  background-color: var(--surface-1);

  --hsl-success: var(--hsl-green-5);
  --success: hsl(var(--hsl-success));
  --success--glint: hsla(var(--hsl-success), 0.1);

  --hsl-danger: var(--hsl-red-5);
  --danger: hsl(var(--hsl-danger));
  --danger--glint: hsla(var(--hsl-danger), 0.1);
}

:where(h1, h2, h3, h4, h5, h6, dt) {
  color: var(--text-1);
}

:where(a[href]) {
  color: var(--link);
}
:where(a[href]:visited) {
  color: var(--link-visited);
}
