@media (prefers-color-scheme: dark) {
  :where(html) {
    color-scheme: dark;

    --primary: var(--blue-5);
    --primary--glint: var(--blue-4);
    --primary-2: var(--blue-5);
    --secondary: var(--violet-5);
    --secondary--glint: var(--violet-4);
    --danger: var(--red-5);

    --link: var(--indigo-3);
    --link-visited: var(--grape-3);

    --text-1: var(--gray-1);
    --text-2: var(--gray-3);
    --text-1--reversed: var(--gray-9);
    --text-2--reversed: var(--gray-8);

    --surface-1: var(--gray-9);
    --surface-2: var(--gray-8);
    --surface-3: var(--gray-7);
    --surface-4: var(--gray-6);
  }
}
